<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\Logs\Behatsdaa_NofshonitApi\internal.txt">


  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <target xsi:type="Null" name="blackHole" />

    <target xsi:type="File" 
            name="ownFile2" 
            fileName="c:\Logs\Behatsdaa_NofshonitApi\${level}-${shortdate}.log"
            layout="${longdate}|${message} ${exception}"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="5000000"/>

  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Info" writeTo="blackHole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="ownFile2" />
  
  
  </rules>
</nlog>