<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering removeServerHeader ="true">
        <verbs>
          <remove verb="OPTIONS" />
          <add verb="OPTIONS" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
	<httpProtocol>
		<customHeaders>
			<add name="X-Frame-Options" value="DENY" />
			<remove name="X-Powered-By" />
		</customHeaders>
	</httpProtocol>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44328" />-->
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
  <appSettings>
    <!--<add key="PaymentsAPI" value="http://172.29.46.10:99 " />-->
	  <add key="PaymentsAPI" value="http://172.29.46.10:8032 "/>

	  <!--<add key="RESTFulAPI_StockManagement_ApiUrl" value="http://172.29.46.10:820" />-->
	  <add key="RESTFulAPI_StockManagement_ApiUrl" value="https://managementstockserver.dts.co.il/" />
  </appSettings>
</configuration>