<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DtsCoreLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="PaymentsAPI" value="http://172.29.24.16:99" />
    <add key="emailFrom" value="emilfrom@from.com" />
    <add key="emailTo" value="emailTo@to.com" />
    <add key="SftpIp" value="212.29.236.168" />
    <add key="SftpUsername" value="dts" />
    <add key="StfpPasswrod" value="Dts1234!@" />
    <!--leumi card uniqeid -->
    <add key="UniqueId" value="5BB4DC4E-2748-47B0-BA94-7790F12CE6D6"/>
    
  </appSettings>
  <connectionStrings>
    
    <!--<add name="DTS_OnlineEntities" connectionString="metadata=res://*/Models.Database.Contexts.DbContext.csdl|res://*/Models.Database.Contexts.DbContext.ssdl|res://*/Models.Database.Contexts.DbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.25.20\sql2005;initial catalog=DTS_Online;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Dts_Online" connectionString="data source=172.29.45.45\sql2005;initial catalog=DTS_Online;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Dts_Logs" connectionString="data source=172.29.45.45\sql2005;initial catalog=Dts_Logs;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TicketsHub" connectionString="data source=172.29.45.45\sql2005;initial catalog=TicketsHub;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DTS_OnlineEntities" connectionString="metadata=res://*/DtsOnlineModel.csdl|res://*/DtsOnlineModel.ssdl|res://*/DtsOnlineModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.29.45.45\sql2005;initial catalog=DTS_Online;persist security info=True;user id=sqlAdmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="Miluim" connectionString="data source=172.29.45.45\sql2005;initial catalog=Miluim;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HonorReleases" connectionString="data source=172.29.45.45\sql2005;initial catalog=HonorReleases;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Hot" connectionString="data source=172.29.45.45\sql2005;initial catalog=Hot;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BankLeumi" connectionString="data source=172.29.45.45\sql2005;initial catalog=BankLeumi;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LeumiCard" connectionString="data source=172.29.45.45\sql2005;initial catalog=LeumiCard;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="KNOWLEDGE4ALL" connectionString="data source=172.29.45.45\sql2005;initial catalog=KNOWLEDGE4ALL;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Teva" connectionString="data source=172.29.45.45\sql2005;initial catalog=Teva;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="NofshonitClub" connectionString="data source=172.29.45.45\sql2005;initial catalog=NofshonitClub;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Klubly" connectionString="data source=172.29.45.45\sql2005;initial catalog=Klubly;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Rakevet" connectionString="data source=172.29.45.45\sql2005;initial catalog=Rakevet;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Assuta" connectionString="data source=172.29.45.45\sql2005;initial catalog=Assuta;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Histadrut" connectionString="data source=172.29.45.45\sql2005;initial catalog=Histadrut;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="ElalSite" connectionString="data source=172.29.45.45\sql2005;initial catalog=ElalSite;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="HRI" connectionString="data source=172.29.45.45\sql2005;initial catalog=HRI;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Yoter" connectionString="data source=172.29.45.45\sql2005;initial catalog=Yoter;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LeumiApp" connectionString="data source=172.29.45.45\sql2005;initial catalog=LeumiApp;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
        <binding name="ServicesSoap1">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="ServicesSoap" />
       
      </basicHttpBinding>
      <customBinding>
        <binding name="ServicesSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
   
    </bindings>
  
    <client>
      <endpoint address="http://172.29.24.16/CheckStockWS/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="StockService.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://172.29.90.16/LeumiAppServices/services.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServicesSoap"
        contract="Dts_Leumi.ServicesSoap" name="ServicesSoap" />
      <endpoint address="http://172.29.90.16/LeumiAppServices/services.asmx"
        binding="customBinding" bindingConfiguration="ServicesSoap12"
        contract="Dts_Leumi.ServicesSoap" name="ServicesSoap12" />
    
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.505" newVersion="1.0.0.505" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <DtsCoreLib.Properties.Settings>
      <setting name="DtsCoreLib_PulseemService_PulseemServices" serializeAs="String">
        <value>http://www.pulseem.com/Pulseem/PulseemServices.asmx</value>
      </setting>
    </DtsCoreLib.Properties.Settings>
  </applicationSettings>
</configuration>