<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" fileName="C:\logs\DtsEcommerceServices\log-${shortdate}.txt" archiveFileName="C:\logs\DtsEcommerceServices\log-${shortdate}.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="1000" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level} | ${threadid} | ${message}" />
      <target name="errors" xsi:type="File" fileName="C:\logs\DtsEcommerceServices\log-error-${shortdate}.txt" archiveFileName="C:\logs\DtsEcommerceServices\log-error-${shortdate}.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="1000" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level} | ${threadid} | ${message}" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" />
      <logger name="*" minlevel="Error" writeTo="errors" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="PaymentsAPI" value="http://172.29.25.20:99" />
    <!--<add key="PaymentsAPI" value="http://172.29.24.181:99" />-->
    
    <add key="emailFrom" value="emilfrom@from.com" />
    <add key="emailTo" value="emailTo@to.com" />
    <add key="prohibitedVairiantsNameForMainVariants" value="הרכבה,משלוח" />
    <add key="TerminalUniqueId" value="1234568" />
    <add key="LeumiApp_organizationOps_UserID" value="1610" />
    <add key="LeumiApp_organizationOps_UserID_Cancelation" value="102" />    
    <add key="ImageAndXmlFolder" value="c:\files" />
    <add key="BenefitsCopyBackupFolder" value="c:\filesBackups " />
    <!-- <add key="ImageAndXmlFolder" value="\\172.29.24.78\Out\BenefitImages" /> -->
    <add key="RemoteImageAndXmlFolder" value="/NewUploads/" />
    <add key="SFLoginUserName" value="aaa" />
    <add key="SFLoginPassword" value="aaa" />
    <add key="SerieID" value="158" /> 
    <!--<add key="SerieID" value="131" />-->
    <add key="benefitIdTest" value="21631" />
    <!--<add key="memberIdTest" value="004187779"/>-->
    <add key="memberIdTest" value="040193286" />
    
    <add key="orgId" value="102" />
    
    <add key="DaysCheckForBenefits" value="1" />
    <add key="DaysCheckForMainVariant" value="1" />
    <add key="TestMode" value="false" />
    <add key="BenefitTakeAllPictures" value="false" />
    <!--<add key="TestModeBenefits" value="215,218,263,274,699,726,756,2553,2569,2939,7012,7878,8550,9498,10068,11793,20740,20741,20750,20795,21126,23278,23669,24208,25098,25314,25485,25535,26018,27714,27932,27940,28585,28932,29183,29186,29191,39592,39650,39663,40120,40126,40128,40130,40131,40154,40155,40167,40242,40284,40320,40321,40323,40324,40355,40356,40357,40372,40380,40438,40439,40440,40494,40508" /> --><!-- PROD -->
    <add key="TestModeBenefits" value="24351,2569,25775,263,702,706" />  
    
    <add key="RESTFulAPI_ApiUrl" value="http://172.29.25.20:75/api/TicketsHub/" />

    <add key="EncryptionKey" value="Pt5sRuGqo9LfBlLKeLeui" />
    <add key="Saltkey" value="Rtyvsa5dThav" />
    <add key="VIBaseKey" value="UvibEr63KreUOry1F@" />
    
    <add key="histOrgGuid" value="C656566A-5D94-4DB4-85B1-3F729DCB9165" />

    <!--<add key="EncryptionKey" value="ThisIsMyBankLeumiKey" />
    <add key="Saltkey" value="S@LT&amp;KEY" />
    <add key="VIBaseKey" value="1B2c3D4e5F6g7H8@" />-->

    <!-- <add key="TerminalNumber" value="8806177" />--> <!-- PROD -->
    <add key="TerminalNumber" value="0963793" /> <!-- TEST -->
    
    <add key="TerminalUsername" value="forall" />
    <add key="TerminalPassword" value="Forall1@" />
    
    <add key="HistadrutAPI" value="http://212.25.107.230/together/index.php" />

  
    <add key="CoinsUpdateSafeFolder" value="\\172.29.24.78\In\Endofmonth" />
    <add key="CoinsUpdateLocalFolder" value="C:\CoinsUpdateInFolder" />
    <add key="CoinsUpdateBackupFolder" value="C:\CoinsUpdateBackupFolder" />
  
    <add key="ConfirmationSmsSenderName" value="LeumiGoodys" />
    <add key="ConfirmationSmsMessage" value="הי {0}, איזה כיף לך, הזמנת הטבה בגודיז. לפרטי ההטבה צריך ללחוץ כאן: {1}" />
    <add key="ConfirmationSmsUrl" value="https://Leumigoodys.co.il/OrderSummary?memberId={1}&amp;orderId={0} " />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>

    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Dts_OnlineEntities" connectionString="data source=172.29.45.45\sql2005;initial catalog=DTS_Online;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Dts_Online" connectionString="data source=172.29.45.45\sql2005;initial catalog=DTS_Online;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Dts_Logs" connectionString="data source=172.29.45.45\sql2005;initial catalog=Dts_Logs;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="LeumiApp" connectionString="data source=172.29.45.45\sql2005;initial catalog=LeumiApp;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Histadrut" connectionString="data source=172.29.45.45\sql2005;initial catalog=Histadrut;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework;Timeout=500" providerName="System.Data.SqlClient" />
    <add name="ConStrAll" connectionString="Data Source=172.29.45.45\sql2005;Initial Catalog=DTS_Online;User ID=sqladmin;Password=Erg0110$" providerName="System.Data.SqlClient" />
    <add name="ConStr" connectionString="User ID=prodi;Persist Security Info=true;Password=hatzlacha;Integrated Security=false;database=DTS_Online;server=prod2\prod2_2K5" providerName="System.Data.SqlClient" />
    <add name="NofshonitClub" connectionString="Data Source=172.29.45.45\sql2005;Initial Catalog=NofshonitClub;User ID=sqladmin;Password=Erg0110$" providerName="System.Data.SqlClient" />
    <add name="TicketsHub" connectionString="data source=172.29.45.45\sql2005;initial catalog=TicketsHub;persist security info=True;user id=sqladmin;password=Erg0110$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VariantsPortSoap11">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="ServiceSoap" />
        <binding name="SoapBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="SoapBinding1" />
        <binding name="VariantsPortSoap111" />
        <binding name="SoapBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="SoapBinding3" />
        <binding name="BasicHttpBinding_IOnLineData" />
        <binding name="BasicHttpBinding_IVpayService" />
        <binding name="Neemanut_DTS2ESBSOAP">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="Neemanut_DTS2ESBSOAP12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://loyalty-ty.myagam.co.il/KnowledgeToSalesForce_DLVR"
        behaviorConfiguration="credentialConfiguration" binding="basicHttpBinding"
        bindingConfiguration="SoapBinding" contract="KnowledgeToSalesForce.Soap"
        name="Soap.0" />
      <endpoint address="https://loyalty-ty.myagam.co.il/LOYBenefitsMainVariants/LOYBenefitsMainVariants_dlvr"
        behaviorConfiguration="credentialConfiguration" binding="basicHttpBinding"
        bindingConfiguration="VariantsPortSoap11" contract="LOYBenefitsMainVariants.VariantsPort"
        name="VariantsPortSoap11" />
      <endpoint address="http://172.29.90.16:85/OnLineData.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IOnLineData" contract="VpayWcf.IOnLineData"
        name="BasicHttpBinding_IOnLineData" />
      <endpoint address="http://172.29.90.16:85/VpayService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IVpayService" contract="VpayService.IVpayService"
        name="BasicHttpBinding_IVpayService" />
      <endpoint address="https://10.82.36.29:443/KnowledgeToSalesForce"
        binding="basicHttpBinding" bindingConfiguration="SoapBinding2"
        contract="KnowledgeToSalesForce.Soap" name="Soap" />
      <endpoint address="http://dummy/" binding="customBinding" bindingConfiguration="Neemanut_DTS2ESBSOAP12"
        contract="Neemanut.Neemanut_DTS2ESB" name="Neemanut_DTS2ESBSOAP12" />
      <endpoint address="https://loyalty-ty.myagam.co.il/ESB/Services/Neemanut_DTS2ESB_DLVR"
        behaviorConfiguration="credentialConfiguration" binding="basicHttpBinding"
        bindingConfiguration="Neemanut_DTS2ESBSOAP" contract="Neemanut.Neemanut_DTS2ESB"
        name="Neemanut_DTS2ESBSOAP" />
      
      <!--<endpoint address="http://172.29.90.16/CheckStockWS/Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
        contract="StockService.ServiceSoap" name="ServiceSoap" />-->

      <endpoint address="http://172.29.24.54/Service.asmx"
              binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
              contract="StockService.ServiceSoap" name="ServiceSoap" />
      

    </client>


    <behaviors>
      <endpointBehaviors>
        <behavior name="credentialConfiguration">
          <clientCredentials>
            <clientCertificate findValue="52 a1 51 e7 cf 67 9a 12 41 ce 95 a5 c8 58 fb 0f 65 86 cc 4b" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>