<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PurchaseHandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PurchaseHandler.Properties.Settings.DTS_OnLineConnectionString"
            connectionString="Data Source=LOCALSQL;Initial Catalog=DTS_OnLine;User ID=webidev"
            providerName="System.Data.SqlClient" />
        <add name="PurchaseHandler.Properties.Settings.YesConnectionString"
            connectionString="Data Source=192.168.111.181;Initial Catalog=Yes;User ID=sqladmin;Password=erg0110$"
            providerName="System.Data.SqlClient" />
        <add name="PurchaseHandler.Properties.Settings.DTS_OnlineConnectionString1"
            connectionString="Data Source=192.168.111.181;Initial Catalog=DTS_Online;User ID=sqladmin"
            providerName="System.Data.SqlClient" />
        <add name="PurchaseHandler.Properties.Settings.DTS_OnLineConnectionString2"
            connectionString="Data Source=DTS-SQL\sql2005;Initial Catalog=DTS_OnLine;User ID=sqladmin"
            providerName="System.Data.SqlClient" />
        <add name="PurchaseHandler.Properties.Settings.DTS_OnlineConnectionString3"
            connectionString="Data Source=172.29.25.10;Initial Catalog=DTS_Online;User ID=webitest;Password=bracha2"
            providerName="System.Data.SqlClient" />
        <add name="PurchaseHandler.Properties.Settings.NofshonitClubConnectionString"
            connectionString="Data Source=172.29.25.10;Initial Catalog=NofshonitClub;User ID=webiTest"
            providerName="System.Data.SqlClient" />
        <add name="ConStr" connectionString="Data Source=172.29.45.45;Initial Catalog=NofshonitClub;User ID=sqladmin;Password=Erg0110$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <PurchaseHandler.Properties.Settings>
            <setting name="PurchaseHandler_InfoWS_InfoService" serializeAs="String">
                <value>http://dts-tws.internet-bee.com/tws/services/Info</value>
            </setting>
            <setting name="PurchaseHandler_InternetBeeWS_TransService" serializeAs="String">
                <value>http://dts-tws.internet-bee.com/tws/services/Trans</value>
            </setting>
            <setting name="PurchaseHandler_Credit_RelayService" serializeAs="String">
                <value>https://cgpay.creditguard.co.il/xpo/services/Relay</value>
            </setting>
            <setting name="PurchaseHandler_Credit1_RelayService" serializeAs="String">
                <value>https://cgpay.creditguard.co.il/xpo/services/Relay</value>
            </setting>
            <setting name="PurchaseHandler_Credit3_RelayService" serializeAs="String">
                <value>https://cgpay3.creditguard.co.il/xpo/services/Relay</value>
            </setting>
            <setting name="PurchaseHandler_cguat2Test1_RelayService" serializeAs="String">
                <value>https://cguat2.creditguard.co.il/xpo/services/Relay</value>
            </setting>
        </PurchaseHandler.Properties.Settings>
    </applicationSettings>
</configuration>